<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.crm.qa.testcases.NewTest"/>
      <class name="com.crm.qa.testcases.Homepagetest"/>
      <class name="com.crm.qa.testcases.Contactspagetest"/>
      <class name="com.crm.qa.testcases.LoginPagetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
